.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}
.head{
    width: max(250px);
    min-height: 100vh;
    background-color: black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 15px;
}
.header-top{
    margin-top: 20px;
    margin-left:10px;
}
.header-desc{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #5c5c63;
    text-decoration: none;


}
.header-desc:hover{
    color: white;
    font-size: 17px;
}
.header-desc.active {
    color: white;
    font-size: 17px;
}
.head {
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: black;
    flex-shrink: 0;
}