* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
}

.page-content {
    width: calc(100% - 250px);
    min-height: 100vh;
    margin-left: 250px;
    background-color: #fafafa;
}

.login-layout {
    width: 100%;
    min-height: 100vh;
    background-color: #c9c9c9;
}

.login-content {
    width: 100%;
    min-height: 100vh;
    background-color: #c9c9c9;
}.layout {
     display: flex;
     width: 100%;
     min-height: 100vh;
     background-color: #fafafa;
 }

.page-content {
    flex: 1;
    min-height: 100vh;
    background-color: #fafafa;
    margin-left: 0;
    width: auto;
}